<!DOCTYPE html>
<head>
    <title>Prashan Uttar</title>
    <link rel="stylesheet" href="sign.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class = 'container'>
        <div class = 'left'>
            <div class="top">
                <h1>Prashan Uttar</h1>
            </div>
            <div class="mid">
                <p class="ques">Have Questions In Your Mind?</p>
                <p class="ans">Why Wait! Sign Up Now.</p>
            </div>
            <div class="bottom">
                <ul>
                    <li><a href="#"><i class='fa fa-globe'></i></a></li>
                    <li><a href="https://www.github.com" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-fw"  ></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
<!--This the area for filling the details-->
        <div class = 'fill'>
            <div class="right">
                <form action="#">
                    <div class="form">
                        <label for="name">Name</label>
                        <input  class = 'form-control' type="text" name="name" placeholder="Name" autocomplete="off" required>
                    </div>
                    <div class="form">
                        <label for = 'username'>Username</label>
                        <input class = 'form-control' type = 'text' name = 'username' id = 'username'placeholder = 'ABC.XYZ' required>
                    </div>
                    <div class="form">
                        <label for = email>Email</label>
                        <input class = 'form-control' type = 'email' name ='email' id = 'email' placeholder = 'ABC@xyz.com' required>
                    </div>
                    <div class="form">
                        <label for = password>Password</label>
                        <input class = 'form-control' type = 'password' name = 'password1' id = 'password1' placeholder ='Password' required>
                    </div>
                    <div class="form">
                        <label for="passwordRepeat">Repeat Password</label>
                        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="ReType Password" required />
                    </div>

                    <ul class="list-inline">
                        <li>
                            <input class="btn btn--form" type="submit" value="Register" />
                        </li>
                        <li>
                            <a class="signup__link" href="login.html">I am already a member</a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="social">
                <span class="loginwith">Sign in with<br />social network</span>
                <button class="social-signin facebook"><i class="fa fa-facebook"></i>Log in with facebook</button>
                <button class="social-signin twitter"><i class="fa fa-twitter"></i>Log in with Twitter</button>
                <button class="social-signin google"><i class="fa fa-google-plus"></i>Log in with Google+</button>
            </div>
            <div class="or">OR</div>
    </div>
    </div>
</body>
</html>